mixin hipchatColors(model)
  select(ng-model=model)
    option(value='yellow') Yellow
    option(value='red') Red
    option(value='green') Green
    option(value='purple') Purple
    option(value='gray') Gray
    option(value='random') Random

html
  body
    #hipchat.tab-pane.well
      fieldset
        legend Hipchat Notifications
        p
          :markdown
            Configure your [Hipchat](http://hipchat.com) account and message notifications to send on build events.

            A Hipchat group admin must [generate an authToken](https://hipchat.com/admin/api) to use.
            
            You can find the **numeric** room id for a given room by following [these links](https://hipchat.com/rooms).

        table.table
          thead
            tr
              th Auth Token
              th Room ID
              th Send From
          tbody
            tr
              td
                input(type='text', ng-model='options.authToken', placeholder='')
              td
                input(type='text', ng-model='options.roomId', placeholder='')
              td
                input(type='text', ng-model='options.from', placeholder='Strider')

        table.table
          thead
            tr
              th Event
              th Color
              th Message
          tbody
            tr
              td
                strong Start
              td
                +hipchatColors('options.startColor')

              td
                textarea(ng-model='options.startMessage', placeholder='Test run started...')

            tr
              td
                strong Pass
              td
                +hipchatColors('options.passColor')
              td
                textarea(ng-model='options.passMessage', placeholder='Test run passed...')

            tr
              td
                strong Failure
              td
                +hipchatColors('options.failColor')
              td
                textarea(ng-model='options.failMessage', placeholder='Test run failed...')


        button.btn.btn-success(ng-click='save()') Save notifications
